@font-face {
    font-family: "Light Personal Use Light";
    src: url("/../../../assets/font/MADE_TOMMY_Light_PERSONAL_USE.otf") format("opentype"),
      url("/../../../assets/font/MADE_TOMMY_Light_PERSONAL_USE.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Light Personal Medium";
    src: url("/../../../assets/font/MADE_TOMMY_Medium_PERSONAL_USE.otf") format("opentype"),
      url("/../../../assets/font/MADE_TOMMY_Medium_PERSONAL_USE.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Light Personal Regular";
    src: url("/../../../assets/font/MADE_TOMMY_Regular_PERSONAL_USE.otf") format("opentype"),
      url("/../../../assets/font/MADE_TOMMY_Regular_PERSONAL_USE.otf") format("opentype");
  }

.text-status {
    font-family: "Light Personal Medium";
    font-weight: bold;
    font-size: 12px;
}

.display-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.opt-active {
    font-family: "Light Personal Medium";
    color: rgb(53, 53, 158) ;
    padding-bottom: 2%;
    border-bottom: rgb(53, 53, 158) solid 6px;
  }
  
  .loginTEXT {
    font-family: "Light Personal Medium";
    font-size: 18px;
    color: rgb(53, 53, 158) ;
  }
  

.m-content-details {
    min-width: 80%;
}
.text-title-table {
    color: rgb(94, 92, 92);
    font-weight: bold;
}
.text-table{
    font-weight: normal;
}

.background-danger {
    background-color: rgb(250, 146, 146);
    color: white;
}

.btn-view-detail {
    background-color: transparent;
    border: none;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100% !important;
    height: auto;
}



.mat-table {
    overflow-x: scroll;
  }

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
  /* background-color: rgb(175, 175, 175); */
}

td.is-gray {
    background: rgba(155, 150, 150, 0.123);
}

td.is-warning {
    background: rgba(197, 154, 101, 0.123);
}

td.is-info {
    background: rgba(101, 167, 197, 0.123);
}
td.is-success {
    background: rgba(53, 165, 96, 0.123);
}
.text-bold {
    color: rgb(95, 94, 94);
}