<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h4 class="loginTEXT cursor {{ this.show == 1 ? 'opt-active' : '' }}" (click)="showSection(1)">
                            TODAS LOS USUARIOS
                        </h4>
                    </div>
                    <div class="col-sm-4 text-center" *ngIf="this.isSelected == false" style="display: none;">
                        <h4 class="loginTEXT cursor {{ this.show == 2 ? 'opt-active' : '' }}" (click)="showSection(2)">
                            CREAR SOLICITUD
                        </h4>
                    </div>
                    <div class="col-sm-4 text-center" *ngIf="this.isSelected == true" style="display: block;">
                        <h4 class="loginTEXT cursor {{ this.show == 2 ? 'opt-active' : '' }}" (click)="showSection(2)">
                            CREAR SOLICITUD
                        </h4>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h4 class="loginTEXT cursor {{ this.show == 3 ? 'opt-active' : '' }}" (click)="showSection(3)">
                            TODAS LAS SOLICITUDES
                        </h4>
                    </div>

 
                    <div class="container" *ngIf="this.show==2">
                        <form #formProduct="ngForm" action="" class="form-horizontal"
                            (ngSubmit)='addPaymentRequest(formProduct.value)' novalidate action="/" method="get">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first">Nombre</label>
                                        <br>
                                        <span class="text-table">{{user.user_name}}</span>
                                    </div>
                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first">Apellido</label>
                                        <br>
                                        <span class="text-table">{{user.user_lastname}}</span>
                                    </div>
                                </div>
                                <!--  col-md-6   -->
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">Teléfono</label>
                                        <br>
                                        <span class="text-table">{{user.user_phone}}</span>
                                    </div>


                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="phone">Correo Electrónico</label>
                                        <br>
                                        <span class="text-table">{{user.user_email}}</span>
                                    </div>
                                </div>
                                <!--  col-md-6   -->
                            </div>
                            <!--  row   -->


                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="email">Título</label>
                                        <input name="payment_request_title" id="payment_request_title"
                                            class="form-control" #payment_request_title="ngModel"
                                            placeholder="Título de la Solicitud"
                                            [(ngModel)]="paymentRequest.payment_request_title">
                                    </div>
                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Descripción</label>
                                        <input name="payment_request_description" id="payment_request_description"
                                            class="form-control" #payment_request_title="ngModel"
                                            placeholder="Descripción de la Solicitud"
                                            [(ngModel)]="paymentRequest.payment_request_description">
                                    </div>

                                </div>
                                <!--  col-md-6   -->
                            </div>
                            <!--  row   -->

                            <div class="row">
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label for="email">Monto</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" class="form-control"
                                                aria-label="Amount (to the nearest dollar)"
                                                name="payment_request_total_to_pay" id="payment_request_total_to_pay"
                                                class="form-control" #payment_request_title="ngModel" placeholder="20"
                                                [(ngModel)]="paymentRequest.payment_request_total_to_pay">

                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->


                                <!--  col-md-6   -->
                            </div>


                            <div class="text-center">
                                <button type="button" [disabled]="!formProduct.valid" type="submit"
                                    class="btn btn-primary">ENVIAR SOLICITUD</button>
                            </div>
                        </form>
                    </div>
                    <hr />
                </div>

                <div *ngIf="this.show==1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="container">
                                <mat-form-field>
                                    <mat-label>Buscar</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" value="SOAP request" (click)="soapCall()">Buscar</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 ml-auto mr-auto text-center">
                            <div class="container">
                                <mat-table #Table [dataSource]="dataSource">
                                    <ng-container matColumnDef="Cedula">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center">Cédula
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <span class="text-center">{{row.user_uid }}</span> </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Nombre">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Nombre
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <span class="text-center"> {{row.user_name}} </span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Apellido">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Apellido
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                            <div [innerHTML]="row.user_lastname| slice:0:8">
                                            </div>

                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Correo">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Correo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <!-- <span class="text-center"> {{row.notifications_description | slice:0:10}} </span> -->
                                            <div [innerHTML]="row.user_email"></div>

                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Teléfono">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Teléfono
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <!-- <span class="text-center"> {{row.notifications_description | slice:0:10}} </span> -->
                                            <div [innerHTML]="row.user_phone"></div>

                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="Estatus">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Estatus
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center" [ngClass]="{
                                        'is-warning': !row.user_state,
                                        'is-success': row.user_state
                                      }">
                                        <span class="text-danger text-status" *ngIf="!row.user_state">Sin
                                            Solicitud</span>
                                        <span class="text-success text-status" *ngIf="row.user_state">Solicitado</span>

                                    </mat-cell>
                                </ng-container> -->
                                    <ng-container matColumnDef="Crear Solicitud">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> CREAR
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="text-center">
                                            <button data-toggle="modal" type="button"
                                                class="btn btn-sm btn-primary cursor-pointer" (click)="viewUser(row)">
                                                CREAR
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>

                                </mat-table>
                                <mat-paginator #TableUsersPay [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.show==3">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="container">
                                <mat-form-field>
                                    <mat-label>Buscar</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 ml-auto mr-auto text-center">
                            <div class="container">
                                <mat-table #Table [dataSource]="dataSourcePayment">
                                    <ng-container matColumnDef="Nombre">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Nombre
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <span class="text-center"> {{row.payment_request_user_name}} </span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Apellido">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Apellido
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                            <div [innerHTML]="row.payment_request_user_last_name| slice:0:8">
                                            </div>

                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Correo">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Correo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <!-- <span class="text-center"> {{row.notifications_description | slice:0:10}} </span> -->
                                            <div [innerHTML]="row.payment_request_user_email"></div>

                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Teléfono">
                                        <mat-header-cell *matHeaderCellDef class="display-row-center"> Teléfono
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="display-row-center">
                                            <!-- <span class="text-center"> {{row.notifications_description | slice:0:10}} </span> -->
                                            <div [innerHTML]="row.payment_request_user_phone"></div>

                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Estatus">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Estatus
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center" [ngClass]="{
                                        'is-warning': row.payment_request_state,
                                        'is-success': !row.payment_request_state
                                      }">
                                        <span class="text-danger text-status" *ngIf="row.payment_request_state">Sin
                                            Solicitud</span>
                                        <span class="text-success text-status" *ngIf="!row.payment_request_state">Solicitado</span>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Ver">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Ver
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="text-center">
                                      <button data-toggle="modal" data-target="#modalViewPayment"
                                        type="button" class="btn btn-sm  btn-view-detail cursor-pointer"  (click)="viewPayment(row)">
                                        <span class="material-icons icon-eye text-info">
                                          visibility
                                        </span>
                                      </button>
                                    </mat-cell>
                                  </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumnsPayment"></mat-header-row>
                                    <mat-row class="element-row" *matRowDef="let row; columns: displayedColumnsPayment;">
                                    </mat-row>

                                </mat-table>
                                <mat-paginator #TableUsersPay2 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- *** Modal Notification ***-->
<div class="modal" tabindex="-1" role="dialog" id="modalViewPayment">
    <div class="modal-dialog modal-width" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">Solicitud</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center row">
            <table id="cart" class="table table-hover table-condensed table-bordered">
              <tbody>
                <tr>
                  <td class="">
                    Nº: {{paymentRequest.payment_request_uid |
                    slice:8}}
                  </td>
                </tr>
                <tr>
              
                    <td class="">
                        Nombre: {{paymentRequest.payment_request_user_name}}
                      </td>
                      <td class="">
                        Apellido {{paymentRequest.payment_request_user_last_name}}
                      </td>
                </tr>
                <tr>
                  <td class="">
                    Telefono {{paymentRequest.payment_request_user_phone}}
                  </td>
                  <td class="">
                    Correo {{paymentRequest.payment_request_user_email}}
                  </td>
                  
                </tr>
                <tr>
           
                    <td class="">
                        Titulo: {{paymentRequest.payment_request_title}}
                      </td>
                      <td class="">
                        Descripción: {{paymentRequest.payment_request_description}}
                      </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
            <hr>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ***#Modal Notification ***-->