
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <form (ngSubmit)='addControl(formActivo.value, formActivo)' #formActivo="ngForm" action=""
                    class="form-horizontal pb-3" novalidate action="/" method="get"
                    style="border: rgb(19, 41, 83) 5px solid;">
                    <div class="modal-header" style="background-color: rgb(19, 41, 83); color: white;">
                        <h5 class="modal-title" style="font-family: sans-serif;">Nuevo registro</h5>

                    </div>
                    <div class="row m-0">
                        <div class="col m-5">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Id" type="text" class="form-control"
                                        name="control_man_id" id="control_man_id" [(ngModel)]="control.control_man_id"
                                        #control_man_id="ngModel" pattern="">
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Procedimiento" type="text" class="form-control"
                                        name="control_man_procedimiento" id="control_man_procedimiento" [(ngModel)]="control.control_man_procedimiento"
                                        #control_man_procedimiento="ngModel" pattern="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Ok" type="text" class="form-control"
                                        name="control_man_ok" id="control_man_ok" [(ngModel)]="control.control_man_ok"
                                        #control_man_ok="ngModel" pattern="">
                                </div>
                                <br>
                                

                            </div>
                        </div>
                        <div class="col m-5">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Mantenimiento" type="text" class="form-control"
                                        name="control_man_mantenimiento" id="control_man_mantenimiento" [(ngModel)]="control.control_man_mantenimiento"
                                        #control_man_mantenimiento="ngModel" pattern="">
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Datos" type="text" class="form-control"
                                        name="control_man_datos" id="control_man_datos" [(ngModel)]="control.control_man_datos"
                                        #control_man_datos="ngModel" pattern="">
                                </div>
                                
                            </div>
                        </div>


                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn waves-effect waves-light orange right">
                            Guardar <i class="material-icons">add_circle</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------->
<div class="container-fluid">
    <div class="modal-header" style="background-color: rgb(19, 41, 83); color: white;">
        <h5 class="modal-title" style="font-family: sans-serif;">Todos los controles de mantenimiento rutinarios</h5>

    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 ml-auto mr-auto text-center">
                    <div class="container">
                        <mat-table #Table [dataSource]="dataSource">
                            <ng-container matColumnDef="Id">
                                <mat-header-cell *matHeaderCellDef class="display-row-center">#
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <span class="text-center">{{row.control_man_id }}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Procedimiento">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Procedimiento
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <span class="text-center"> {{row.control_man_procedimiento}} </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Ok">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Ok
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.control_man_ok | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Mantenimiento">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Mantenimiento
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.control_man_mantenimiento | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Datos">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Datos
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.control_man_datos
                                    | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="Editar">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Editar
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="material-icons text-warning cursor-pointer" (click)="editActivo(row)"
                                        data-toggle="modal" data-target="#modalProduct">
                                        mode_edit
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Eliminar">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="display-row-center">
                                    Eliminar </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="material-icons text-danger cursor-pointer" (click)="deleteActivo(row)">
                                        delete_sweep
                                    </span>
                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>

                        </mat-table>
                        <mat-paginator #TableProduct [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------->
<div *ngIf="isEdit" class="container-fluid">
    
    <div class="card">
        <div class="card-body">
            <div class="row">

                <form (ngSubmit)='addControl(formActivo.value, formActivo)' #formActivo="ngForm" action=""
                    class="form-horizontal pb-3" novalidate action="/" method="get"
                    style="border: rgb(19, 41, 83) 5px solid;">
                    <div class="modal-header" style="background-color: rgb(19, 41, 83); color: white;">
                        <h5 class="modal-title" style="font-family: sans-serif;">Editando el mantenimiento: {{control.control_man_id}}</h5>

                    </div>
                    <div class="row m-0">
                        <div class="col m-5">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Id" type="text" class="form-control"
                                        name="control_man_id" id="control_man_id" [(ngModel)]="control.control_man_id"
                                        #control_man_id="ngModel" pattern="">
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Procedimiento" type="text" class="form-control"
                                        name="control_man_procedimiento" id="control_man_procedimiento" [(ngModel)]="control.control_man_procedimiento"
                                        #control_man_procedimiento="ngModel" pattern="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Ok" type="text" class="form-control"
                                        name="control_man_ok" id="control_man_ok" [(ngModel)]="control.control_man_ok"
                                        #control_man_ok="ngModel" pattern="">
                                </div>
                                <br>
   


                            </div>
                        </div>
                        <div class="col m-5">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Mantenimiento" type="text" class="form-control"
                                        name="control_man_mantenimiento" id="control_man_mantenimiento" [(ngModel)]="control.control_man_mantenimiento"
                                        #control_man_ok="ngModel" pattern="">
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Datos" type="text" class="form-control"
                                        name="control_man_datos" id="control_man_datos" [(ngModel)]="control.control_man_datos"
                                        #control_man_datos="ngModel" pattern="">
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn waves-effect waves-light orange right">
                            Guardar <i class="material-icons">add_circle</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>