<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class=" row display-flex-end">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-fill btn-new-category btn-sm"
                            (click)="newRSA()" data-toggle="modal" data-target="#modalRSA">
                            <i class="fa fa-plus"></i> &nbsp; Crear Asistencia Vial
                        </button>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <div class="container">
                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ml-auto mr-auto text-center">
                        <div class="container">
                            <mat-table #Table [dataSource]="dataSource">
                                <ng-container matColumnDef="Id">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center">#</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center">{{row.roadside_assistence_id | slice:8}}</span> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Asistencia Vial">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Asistencia Vial
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.roadside_assistence_name}} </span>
                                    </mat-cell>
                                </ng-container>
                                <!-- <ng-container matColumnDef="Descripción">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Descripción
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <div [innerHTML]="row.roadside_assistence_description | slice:0:10"></div>

                                    </mat-cell>
                                </ng-container> -->
                                <ng-container matColumnDef="Editar">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Editar
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span class="material-icons text-warning cursor-pointer"
                                        (click)="editRSA(row)" data-toggle="modal"
                                        data-target="#modalRSA">
                                        mode_edit
                                    </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Eliminar">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="display-row-center">
                                        Eliminar </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span class="material-icons text-danger cursor-pointer" (click)="deleteRSA(row)">
                                            delete_sweep
                                            </span>
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>

                            </mat-table>
                            <mat-paginator #TableRSA [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- *** Modal admin Product *** -->
<div class="modal fade" id="modalRSA" tabindex="-1" role="dialog" aria-labelledby="modalproviderLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width: 80%;">
        <div class="modal-content">
            <div class="modal-header" *ngIf="rsa">
                <h5 class="modal-title" id="modalproviderLabel">
                    <i class="fa fa-plus"></i>
                    {{isEdit?'Editar Asistencia Vial.':'Nueva Asistencia Vial.'}} <i class="fa fa-arrow-right"></i> Cod.
                    {{rsa.roadside_assistence_id}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #formProduct="ngForm" action="" class="form-horizontal"
                (ngSubmit)='addRSA(formProduct.value, formProduct.valid, formProduct)' novalidate action="/"
                method="get">
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <input type="hidden" class="form-control" name="roadside_assistence_id" id="roadside_assistence_id" placeholder="Id"
                                [(ngModel)]="rsa.roadside_assistence_id" #roadside_assistence_id="ngModel" pattern="">
                            <small [hidden]="roadside_assistence_id.valid || (roadside_assistence_id.pristine && !formProduct.submitted)"
                                class="text-danger">
                                Obligatorio
                            </small>

                            <div class="row ">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="roadside_assistence_name" id="roadside_assistence_name"
                                        placeholder="Nombre de la Asistencia Vial" [(ngModel)]="rsa.roadside_assistence_name"
                                        #roadside_assistence_name="ngModel" required pattern="">
                                    <small
                                        [hidden]="roadside_assistence_name.valid || (roadside_assistence_name.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-sm-12">
                                    <input name="product_description" id="product_description"  class="form-control"
                                        #product_description="ngModel" placeholder="Descripción"
                                        [(ngModel)]="product.product_description">
                                </div>
                            </div> -->
                            <div class="row pt-3 justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <figure class="pt-5">
                                        <img class="img-post-modal" *ngIf="!rsa.roadside_assistence_img && !imageSrc"
                                            src="../../../../assets/img/descarga.png">
                                        <img class="img-post-modal" *ngIf="rsa.roadside_assistence_img && imageSrc "
                                            [src]="rsa.roadside_assistence_img">
                                        <img class="img-post-modal" *ngIf="rsa.roadside_assistence_img && !imageSrc"
                                            [src]="rsa.roadside_assistence_img">
                                        <img class="img-post-modal" *ngIf="!rsa.roadside_assistence_img && imageSrc"
                                            [src]="rsa.roadside_assistence_img">
                                    </figure>
                                    <input id=id type="file" class="form-control" name="roadside_assistence_img" accept="image/*"
                                        (change)="onChangeImage($event)" required>
                                    <input type="hidden" class="form-control" name="roadside_assistence_img" id="product_img"
                                        placeholder="Imagen de la Asistencia Vial" [(ngModel)]="rsa.roadside_assistence_img"
                                        #roadside_assistence_img="ngModel" required pattern="">
                                    <small
                                        [hidden]="roadside_assistence_img.valid || (roadside_assistence_img.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="!formProduct.valid" type="submit"
                        class="btn btn-fill btn-success btn-wd btn-block">
                        <i *ngIf="isEdit" class="fa fa-edit"></i>
                        <i *ngIf="!isEdit" class="fa fa-save"></i>
                        &nbsp;
                        &nbsp;{{isEdit?'Editar':'Crear'}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- *** /Modal admin Product *** -->