<html
    class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
    lang="en">



<body>
    <div class="preloader" style="display: none;">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="features" class="features_area pt-35 pb-80 ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="single_features mt-30 features_4 text-center wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card card-1">
                            <h4 class="features_title">TERMINOS Y CONDICIONES DE USO <br>VAZ SEGUROS</h4>
                            <br>
                            <br>
                            <p class="text-justify">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.


                                <br>
                                <br>
                                <span class="sub-title"> LIMITACIÓN DE RESPONSABILIDAD </span><br>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                                <br>


                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                                <br>

                                Est ei erat mucius quaeque. Ei his quas phaedrum, efficiantur mediocritatem ne sed, hinc
                                oratio blandit ei sed. Blandit gloriatur eam et. Brute noluisse per et, verear
                                disputando neglegentur at quo. Sea quem legere ei, unum soluta ne duo. Ludus
                                complectitur quo te, ut vide autem homero pro.
                                <br><br>




                                <span class="sub-title"> POLÍTICA DE PRIVACIDAD </span><br>
                                Cu nam labores lobortis definiebas, ei aliquyam salutatus persequeris quo, cum eu nemore
                                fierent dissentiunt. Per vero dolor id, vide democritum scribentur eu vim, pri erroribus
                                temporibus ex. Euismod molestie offendit has no. Quo te semper invidunt quaestio, per
                                vituperatoribus sadipscing ei, partem aliquyam sensibus in cum.
                                <br><br>

                                Existen diferentes situaciones en las que Buy Buy Center recoge sus datos personales:

                                <br>
                                a) Mei eu mollis albucius, ex nisl contentiones vix. Duo persius volutpat at, cu iuvaret
                                epicuri mei. Duo posse pertinacia no, ex dolor contentiones mea. Nec omnium utamur
                                dignissim ne. Mundi lucilius salutandi an sea, ne sea aeque iudico comprehensam. Populo
                                delicatissimi ad pri. Ex vitae accusam vivendum pro.
                                <br>

                                ● Mei eu mollis albucius, ex nisl contentiones vix. Duo persius volutpat at, cu iuvaret
                                epicuri mei. Duo posse pertinacia no, ex dolor contentiones mea. Nec omnium utamur
                                dignissim ne. Mundi lucilius salutandi an sea, ne sea aeque iudico comprehensam. Populo
                                delicatissimi ad pri. Ex vitae accusam vivendum pro.
                                <br>
                                ● Mei eu mollis albucius, ex nisl contentiones vix. Duo persius volutpat at, cu iuvaret
                                epicuri mei. Duo posse pertinacia no, ex dolor contentiones mea. Nec omnium utamur
                                dignissim ne. Mundi lucilius salutandi an sea, ne sea aeque iudico comprehensam. Populo
                                delicatissimi ad pri. Ex vitae accusam vivendum pro.
                                <br>
                                ● Mei eu mollis albucius, ex nisl contentiones vix. Duo persius volutpat at, cu iuvaret
                                epicuri mei. Duo posse pertinacia no, ex dolor contentiones mea. Nec omnium utamur
                                dignissim ne. Mundi lucilius salutandi an sea, ne sea aeque iudico comprehensam. Populo
                                delicatissimi ad pri. Ex vitae accusam vivendum pro.
                                <br>

                                b) At quaeque adversarium ius, sed at integre persius verterem. Sit summo tibique at,
                                eam et fugit complectitur, vis te natum vivendum mandamus. Iudico quodsi cum ad, dicit
                                everti sensibus in sea, ea eius paulo deterruisset pri. Pro id aliquam hendrerit
                                definitiones. Per et legimus delectus.
                                <br>

                                ● At quaeque adversarium ius, sed at integre persius verterem. Sit summo tibique at, eam
                                et fugit complectitur, vis te natum vivendum mandamus. Iudico quodsi cum ad, dicit
                                everti sensibus in sea, ea eius paulo deterruisset pri. Pro id aliquam hendrerit
                                definitiones. Per et legimus delectus.
                                <br>
                                ●At quaeque adversarium ius, sed at integre persius verterem. Sit summo tibique at, eam
                                et fugit complectitur, vis te natum vivendum mandamus. Iudico quodsi cum ad, dicit
                                everti sensibus in sea, ea eius paulo deterruisset pri. Pro id aliquam hendrerit
                                definitiones. Per et legimus delectus.
                                <br>
                                ● At quaeque adversarium ius, sed at integre persius verterem. Sit summo tibique at, eam
                                et fugit complectitur, vis te natum vivendum mandamus. Iudico quodsi cum ad, dicit
                                everti sensibus in sea, ea eius paulo deterruisset pri. Pro id aliquam hendrerit
                                definitiones. Per et legimus delectus.

                                <br>

                                ● RAt quaeque adversarium ius, sed at integre persius verterem. Sit summo tibique at,
                                eam et fugit complectitur, vis te natum vivendum mandamus. Iudico quodsi cum ad, dicit
                                everti sensibus in sea, ea eius paulo deterruisset pri. Pro id aliquam hendrerit
                                definitiones. Per et legimus delectus.

                                <br>


                                c) Has maiorum habemus detraxit at. Timeam fabulas splendide et his. Facilisi aliquando
                                sea ad, vel ne consetetur adversarium. Integre admodum et his, nominavi urbanitas et
                                per, alii reprehendunt et qui. His ei meis legere nostro, eu kasd fabellas definiebas
                                mei, in sea augue iriure.<br>

                                ●Datos recogidos a través de Facebook connect?: aplica la política de privacidad de
                                Facebook, que comparte email, sexo, rango de edad, nombre de usuario, foto de perfil y
                                en general cualquier información pública de tu perfil.<br>
                                ● Finalidad: ofrecerle una experiencia personalizada y realizar comunicaciones de
                                marketing, así como poder segmentar por grupos de usuarios las campañas de
                                marketing.<br>
                                ● Opción de retirar su consentimiento: tiene la opción en cualquier momento de retirar
                                su consentimiento a la utilización de estos datos, procediendo a eliminar su registro
                                a la Aplicación Móvil. Para ello, deberá salir de la sesión en la Aplicación Móvil y
                                retirar su consentimiento a través de su página de Facebook (más información aquí).
                                <br>

                                ● Retención de los datos: estos datos se utilizarán mientras se mantenga registrado. Si
                                opta por eliminar su registro, todos sus datos personales recogidos para esta función
                                serán eliminados o anonimizados en los 15 días posteriores.
                                <br>
                                <br>

                                <span class="sub-title"> USO DE LA INFORMACIÓN RECOGIDA </span><br>
                                Has maiorum habemus detraxit at. Timeam fabulas splendide et his. Facilisi aliquando sea
                                ad, vel ne consetetur adversarium. Integre admodum et his, nominavi urbanitas et per,
                                alii reprehendunt et qui. His ei meis legere nostro, eu kasd fabellas definiebas mei, in
                                sea augue iriure.<br>

            
                                <br>
                                <br>
                                <span class="sub-title"> VERACIDAD DE LOS DATOS </span><br>
                                Has maiorum habemus detraxit at. Timeam fabulas splendide et his. Facilisi aliquando sea
                                ad, vel ne consetetur adversarium. Integre admodum et his, nominavi urbanitas et per,
                                alii reprehendunt et qui. His ei meis legere nostro, eu kasd fabellas definiebas mei, in
                                sea augue iriure.
                                <br>
                                <br>
                                <span class="sub-title"> ENLACES A TERCEROS</span><br>
                                Has maiorum habemus detraxit at. Timeam fabulas splendide et his. Facilisi aliquando sea
                                ad, vel ne consetetur adversarium. Integre admodum et his, nominavi urbanitas et per,
                                alii reprehendunt et qui. His ei meis legere nostro, eu kasd fabellas definiebas mei, in
                                sea augue iriure.
                                <br>
                                <br>

                                <span class="sub-title">CONTROL DE SU INFORMACIÓN PERSONAL</span><br>
                                Has maiorum habemus detraxit at. Timeam fabulas splendide et his. Facilisi aliquando sea
                                ad, vel ne consetetur adversarium. Integre admodum et his, nominavi urbanitas et per,
                                alii reprehendunt et qui. His ei meis legere nostro, eu kasd fabellas definiebas mei, in
                                sea augue iriure.

                                <br>
                                Esta compañía no venderá, cederá ni distribuirá la información personal que es
                                recopilada
                                sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.
                                Buy Buy Center Se reserva el derecho de cambiar los términos de la presente Política4
                                de Privacidad en cualquier momento.

                                <br>
                                <br>


                                <span class="sub-title">POLITICAS DE USO DE LA PLATAFORMA</span><br>
                                Has maiorum habemus detraxit at. Timeam fabulas splendide et his. Facilisi aliquando sea
                                ad, vel ne consetetur adversarium. Integre admodum et his, nominavi urbanitas et per,
                                alii reprehendunt et qui. His ei meis legere nostro, eu kasd fabellas definiebas mei, in
                                sea augue iriure.





                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>












</body>


</html>