  /*########## Main Style ##########*/
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
  }
  .container {
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  .container a{
    text-decoration: none;
    outline: none;
  }
  /*---- Card ----*/
  .card {
    border-radius: 8px;
    margin-top: 0px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.50);
  }
  .card:hover {
    box-shadow: 0px 9px 17px rgba(0, 0, 0, 0.70);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .card .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    height: 300px;
  }
  .card .card1{
    background-color:cadetblue;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .card .card2{
    background-color:cadetblue;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .card .card3{
    background-color:cadetblue;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

  /*---- Date Box ----*/
  .card .container-date {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    color: #FFFFFF !important;
    font-weight: 900;
  }
  .card .date-box {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    padding: 16px 0px;
    background: none;
    text-align: center; 
    width: 58px;
    float: right;
    margin: 0px 12px 0px 0px;
    background: rgba(0, 0 ,0 , 0.7);
  }
  .card:hover .date-box {  
    background: #FFFF00;
    color: #000000;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .container-date .date-box span {
    font-size: 26px;
    line-height: 29px;
  }
  .container-date .date-box p {
    line-height: 14px;
    margin: auto 0px;
    text-transform: uppercase;
  }
  /*---- Text Container ----*/
  .card .image-box .text-container {
    padding: 14px 16px;
    margin-top: 324px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .card .image-box:hover .text-container {
    padding: 16px 20px;
    margin-top: 204px;
    background: rgba(0, 0 ,0 , 0.7);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .card .image-box .text-container p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 12px 0px 5px 0px;
    padding: 0px;
  }
  .subtitle {
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;

  }
  .subtitle i {
    color: #FFFF00;
    visibility: hidden;
    margin-left: 8px;
  }
  .card:hover .subtitle i {
    visibility: visible;
  }
  /*---- Button ----*/  
  .button-down {
    background: #FFFF00;
    padding: 12px 0px;
    text-align: center;
    font-size: 15px;
    color: #000000 !important;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
