<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class=" row display-flex-end">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-fill btn-new-category btn-sm"
                            (click)="newNotification()" data-toggle="modal" data-target="#modalNotification">
                            <i class="fa fa-plus"></i> &nbsp; Crear Notificación
                        </button>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <div class="container">
                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ml-auto mr-auto text-center">
                        <div class="container">
                            <mat-table #Table [dataSource]="dataSource">
                                <ng-container matColumnDef="Id">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center">#</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center">{{row.notifications_id | slice:8}}</span> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Título">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Título
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.notifications_title}} </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Descripción">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Descripción
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.notifications_description| slice:0:8"></div>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Fecha">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Fecha
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.notifications_date | slice:0:10"></div>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Hora">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Hora
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.notifications_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.notifications_time | slice:0:10"></div>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Ver">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Ver
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="text-center">
                                      <button data-toggle="modal" data-target="#modalView"
                                        type="button" class="btn btn-sm  btn-view-detail cursor-pointer" (click)="viewNotification(row)">
                                        <span class="material-icons icon-eye text-info">
                                          visibility
                                        </span>
                                      </button>
                                    </mat-cell>
                                  </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>

                            </mat-table>
                            <mat-paginator #TableNotification [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Modal Notification ***-->
<div class="modal" tabindex="-1" role="dialog" id="modalView">
    <div class="modal-dialog modal-width" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">Notificación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center row">
            <table id="cart" class="table table-hover table-condensed table-bordered">
              <tbody>
                <tr>
                  <td class="">
                    Nº: {{notification.notifications_id |
                    slice:8}}
                  </td>
                </tr>
                <tr>
                    <td class="">
                        Título: {{notification.notifications_title}}
                      </td>
                </tr>
                <tr>
                  <td class="">
                    Descripción {{notification.notifications_description}}
                  </td>
                </tr>
                <tr>
                    <td class="">
                        Fecha: {{notification.notifications_date}}
                      </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
            <hr>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ***#Modal Notification ***-->


<!-- *** Modal admin Product *** -->
<div class="modal fade" id="modalNotification" tabindex="-1" role="dialog" aria-labelledby="modalproviderLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width: 80%;">
        <div class="modal-content">
            <div class="modal-header" *ngIf="notification">
                <h5 class="modal-title" id="modalproviderLabel">
                    <i class="fa fa-plus"></i>
                    {{'Nueva notificacion.'}} <i class="fa fa-arrow-right"></i> Cod.
                    {{notification.notifications_id}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #formProduct="ngForm" action="" class="form-horizontal"
                (ngSubmit)='addNotification(formProduct.value)' novalidate action="/"
                method="get">
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <input type="hidden" class="form-control" name="notifications_id" id="notifications_id"
                                placeholder="Id" [(ngModel)]="notification.notifications_id" #notifications_id="ngModel"
                                pattern="">
                            <small
                                [hidden]="notifications_id.valid || (notifications_id.pristine && !formProduct.submitted)"
                                class="text-danger">
                                Obligatorio
                            </small>

                            <div class="row ">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="notifications_title"
                                        id="notifications_title" placeholder="Nombre de la notificacion"
                                        [(ngModel)]="notification.notifications_title" #notifications_title="ngModel"
                                        required pattern="">
                                    <small
                                        [hidden]="notifications_title.valid || (notifications_title.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <input name="notifications_description" id="notifications_description"
                                        class="form-control" #notifications_description="ngModel"
                                        placeholder="Descripción" [(ngModel)]="notification.notifications_description">
                                </div>
                                <div class="col-sm-2"> 
                                </div>
                                <div class="col-sm-4">
                                    <input name="notifications_description" id="notifications_description"
                                        class="form-control" #notifications_description="ngModel"
                                        placeholder="Descripción" [(ngModel)]="notification.notifications_description">
                                </div>
                            </div>

                            <div class="row pt-5">
                                <!-- <div class="col-5 ">
                                    <select [disabled]="selectAll" class="form-control"
                                        (ngModelChange)="selectedUser($event)" name="notifications_users"
                                        id="notifications_users" [(ngModel)]="notification.notifications_users">
                                        <option value='' selected>
                                            Seleccionar usuario:
                                        </option>
                                        <option *ngFor="let u of arrayTokensUsers; let i = index" [value]=i>
                                            {{u}}
                                        </option>
                                    </select> -->
                                </div>
                                <div class="col-2">
                                </div>
                                <div class="col-5">
                                    <label class="pr-3" for="notifications_sent_to_all">Enviar a todos los
                                        usuarios
                                    </label>
                               
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-primary"
                                     data-offstyle="outline-secondary" 
                                     name="notifications_sent_to_all"
                                        id="notifications_sent_to_all" [(ngModel)]="notification.notifications_sent_to_all"
                                     (change)="onSelectAll(notification.notifications_sent_to_all)">

                                </div>
                            </div>

                            <!-- <div class="row pt-3 justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <figure class="pt-5">
                                        <img class="img-post-modal" *ngIf="!notification.notifications_img && !imageSrc"
                                            src="../../../../assets/img/descarga.png">
                                        <img class="img-post-modal" *ngIf="notification.notifications_img  && imageSrc "
                                            [src]="notification.notifications_img">
                                        <img class="img-post-modal" *ngIf="notification.notifications_img  && !imageSrc"
                                            [src]="notification.notifications_img">
                                        <img class="img-post-modal" *ngIf="!notification.notifications_img  && imageSrc"
                                            [src]="notification.notifications_img">
                                    </figure>
                                    <input id=id type="file" class="form-control" name="notifications_img"
                                        accept="image/*" (change)="onChangeImage($event)" required>
                                    <input type="hidden" class="form-control" name="notifications_img"
                                        id="notifications_img" placeholder="Imagen de producto"
                                        [(ngModel)]="notification.notifications_img" #notifications_img="ngModel"
                                        required pattern="">
                                    <small
                                        [hidden]="notifications_img.valid || (notifications_img.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div> -->
                            <div class="row-w-12">

                            </div>
                        </div>
                    </div>
               
                <div class="modal-footer">
                    <button type="button" [disabled]="!formProduct.valid" type="submit"
                        class="btn btn-fill btn-success btn-wd btn-block">
                        <i *ngIf="isEdit" class="fa fa-edit"></i>
                        <i *ngIf="!isEdit" class="fa fa-save"></i>
                        &nbsp;
                        &nbsp;{{'Crear'}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- *** /Modal admin Product *** -->