<div class="container">
    <h2 class="text-center m-5" style="font-family: sans-serif;">Gestión de Costos<i class="fa fa-angle-double-down"></i></h2>
    <div class="row text-center justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="activos">
                <div class="card">
                    <div class="image-box card1">
                        <div class="container-date">
                            <div class="date-box">
                                <p>CMR</p>
                            </div>
                        </div>
                        <div class="text-container">
                            <span class="subtitle">Mano de obra<i class="fa fa-angle-double-down"></i></span>
                          
                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="mantenimiento">
                <div class="card">
                    <div class="image-box card2">
                        <div class="container-date">
                            <div class="date-box">
                                
                                <p>RM</p>
                            </div>
                        </div>
                        <div class="text-container">
                            <span class="subtitle">Costos de mantenimiento<i class="fa fa-angle-double-down"></i></span>

                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>

