<div class="container-fluid">
    <div class="card">
        <span class="subtitle text-center">Historial de mantenimiento<i class="fa fa-angle-double-down"></i></span>

        <div class="card-body">
            <div class="row">

                <form (ngSubmit)='addHistorial(formActivo.value, formActivo)' #formActivo="ngForm" action=""
                    class="form-horizontal pb-3" novalidate action="/" method="get"
                    style="border: rgb(19, 41, 83) 5px solid;">
                    <div class="modal-header" style="background-color: rgb(19, 41, 83); color: white;">
                        <h5 class="modal-title" style="font-family: sans-serif;">Nuevo registro</h5>

                    </div>
                    <div class="row m-0">
                        <div class="col m-5">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Id Dueño" type="text" class="form-control"
                                        name="hist_dueno_uid" id="hist_dueno_uid" [(ngModel)]="historial.hist_dueno_uid"
                                        #hist_dueno_uid="ngModel" pattern="">
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Fecha" type="text" class="form-control"
                                        name="hist_fecha" id="hist_fecha" [(ngModel)]="historial.hist_fecha"
                                        #hist_fecha="ngModel" pattern="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="# Orden" type="text" class="form-control"
                                        name="hist_num_orden" id="hist_num_orden" [(ngModel)]="historial.hist_num_orden"
                                        #hist_num_orden="ngModel" pattern="">
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Horometro" type="text" class="form-control"
                                        name="hist_horometro" id="hist_horometro" [(ngModel)]="historial.hist_horometro"
                                        #hist_horometro="ngModel" pattern="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Problema" type="text" class="form-control"
                                        name="hist_problema" id="hist_problema"
                                        [(ngModel)]="historial.hist_problema" #hist_problema="ngModel" pattern="">
                                </div>
                                <br>
                         



                            </div>
                        </div>
                        <div class="col m-5">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <textarea class="form-control" placeholder="Solucion" type="text"
                                        class="form-control" name="hist_solucion" id="hist_solucion"
                                        [(ngModel)]="historial.hist_solucion" #hist_solucion="ngModel"
                                        pattern=""></textarea>
                                </div>
                                <div class="col-12 mb-3">
                                    <textarea class="form-control" placeholder="Repuestos" type="text" class="form-control"
                                        name="hist_repuestos" id="hist_repuestos" [(ngModel)]="historial.hist_repuestos"
                                        #hist_repuestos="ngModel" pattern=""></textarea>
                                </div>
                                <div class="col-12 mb-3">
                                    <textarea class="form-control" placeholder="Observaciones" type="text" class="form-control"
                                        name="hist_observaciones" id="hist_observaciones" [(ngModel)]="historial.hist_observaciones"
                                        #hist_observaciones="ngModel" pattern=""></textarea>
                                </div>
                                <br>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Responsable" type="text" class="form-control"
                                        name="hist_responsable" id="hist_responsable" [(ngModel)]="historial.hist_responsable"
                                        #hist_responsable="ngModel" pattern="">
                                </div>
                                <div class="col-12 mb-3">
                                    <input class="form-control" placeholder="Tiempo" type="text" class="form-control"
                                        name="hist_tiempo" id="hist_tiempo" [(ngModel)]="historial.hist_tiempo"
                                        #hist_tiempo="ngModel" pattern="">
                                </div>
                                <br>
                                
                            </div>
                        </div>


                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn waves-effect waves-light orange right">
                            Guardar <i class="material-icons">add_circle</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------->
<div class="container-fluid">
    <div class="modal-header" style="background-color: rgb(19, 41, 83); color: white;">
        <h5 class="modal-title" style="font-family: sans-serif;">Todos los activos</h5>

    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 ml-auto mr-auto text-center">
                    <div class="container">
                        <mat-table #Table [dataSource]="dataSource">
                            <ng-container matColumnDef="Id Dueño">
                                <mat-header-cell *matHeaderCellDef class="display-row-center">#
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <span class="text-center">{{row.hist_dueno_uid }}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Fecha">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Marca
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <span class="text-center"> {{row.hist_fecha}} </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="# Orden">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Modelo
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_num_orden | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Horometro">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Año
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_horometro | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Problema">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Horómetro
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_problema | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Solucion">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Tipo de
                                    maquina
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_solucion | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Repuestos">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Color
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_repuestos | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Observaciones">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Placas
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_observaciones | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Responsable">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Motor
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_responsable | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Tiempo">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Potencia
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="display-row-center">
                                    <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                    <div [innerHTML]="row.hist_tiempo | slice:0:10"></div>

                                </mat-cell>
                            </ng-container>

                            




                            <ng-container matColumnDef="Editar">
                                <mat-header-cell *matHeaderCellDef class="display-row-center"> Editar
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="material-icons text-warning cursor-pointer" (click)="editActivo(row)"
                                        data-toggle="modal" data-target="#modalProduct">
                                        mode_edit
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Eliminar">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="display-row-center">
                                    Eliminar </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="material-icons text-danger cursor-pointer" (click)="deleteActivo(row)">
                                        delete_sweep
                                    </span>
                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>

                        </mat-table>
                        <mat-paginator #TableProduct [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------->
<div *ngIf="isEdit" class="container-fluid">
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form (ngSubmit)='addHistorial(formActivo.value, formActivo)' #formActivo="ngForm" action=""
                class="form-horizontal pb-3" novalidate action="/" method="get"
                style="border: rgb(19, 41, 83) 5px solid;">
                <div class="modal-header" style="background-color: rgb(19, 41, 83); color: white;">
                    <h5 class="modal-title" style="font-family: sans-serif;">Editando historial numero {{historial.hist_dueno_uid}}</h5>

                </div>
                <div class="row m-0">
                    <div class="col m-5">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Id Dueño" type="text" class="form-control"
                                    name="hist_dueno_uid" id="hist_dueno_uid" [(ngModel)]="historial.hist_dueno_uid"
                                    #hist_dueno_uid="ngModel" pattern="">
                            </div>
                            <br>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Fecha" type="text" class="form-control"
                                    name="hist_fecha" id="hist_fecha" [(ngModel)]="historial.hist_fecha"
                                    #hist_fecha="ngModel" pattern="">
                            </div>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="# Orden" type="text" class="form-control"
                                    name="hist_num_orden" id="hist_num_orden" [(ngModel)]="historial.hist_num_orden"
                                    #hist_num_orden="ngModel" pattern="">
                            </div>
                            <br>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Horometro" type="text" class="form-control"
                                    name="hist_horometro" id="hist_horometro" [(ngModel)]="historial.hist_horometro"
                                    #hist_horometro="ngModel" pattern="">
                            </div>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Problema" type="text" class="form-control"
                                    name="hist_problema" id="hist_problema"
                                    [(ngModel)]="historial.hist_problema" #hist_problema="ngModel" pattern="">
                            </div>
                            <br>
                     



                        </div>
                    </div>
                    <div class="col m-5">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <textarea class="form-control" placeholder="Solucion" type="text"
                                    class="form-control" name="hist_solucion" id="hist_solucion"
                                    [(ngModel)]="historial.hist_solucion" #hist_solucion="ngModel"
                                    pattern=""></textarea>
                            </div>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Repuestos" type="text" class="form-control"
                                    name="hist_repuestos" id="hist_repuestos" [(ngModel)]="historial.hist_repuestos"
                                    #hist_repuestos="ngModel" pattern="">
                            </div>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Observaciones" type="text" class="form-control"
                                    name="hist_observaciones" id="hist_observaciones" [(ngModel)]="historial.hist_observaciones"
                                    #hist_observaciones="ngModel" pattern="">
                            </div>
                            <br>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Responsable" type="text" class="form-control"
                                    name="hist_responsable" id="hist_responsable" [(ngModel)]="historial.hist_responsable"
                                    #hist_responsable="ngModel" pattern="">
                            </div>
                            <div class="col-12 mb-3">
                                <input class="form-control" placeholder="Tiempo" type="text" class="form-control"
                                    name="hist_tiempo" id="hist_tiempo" [(ngModel)]="historial.hist_tiempo"
                                    #hist_tiempo="ngModel" pattern="">
                            </div>
                            <br>
                            
                        </div>
                    </div>


                </div>
                <div class="text-center">
                    <button type="submit" class="btn waves-effect waves-light orange right">
                        Guardar <i class="material-icons">add_circle</i>
                    </button>
                </div>
            </form>
                
            </div>
        </div>
    </div>
</div>