.row-w-100 {
  max-width: 100%;
  margin: 0 auto;
}

.row-w-80 {
    max-width: 80%;
    margin: 0 auto;
  }

.span-price {
  font-weight: bold;
  font-size: 28px;
  color: rgb(97, 206, 97);
}
.img-responsive {
  max-width: 100px;
  margin: 0 auto;
}
.logo-img{
    width: 105px;
    /* max-height: 30px; */
}
.div-content-bar-red {
    background-color: rgb(204, 51, 51);
    min-height: 8px;
  }
