<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class=" row display-flex-end">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-fill btn-new-category btn-sm"
                            (click)="newBranchOffice()" data-toggle="modal" data-target="#modalBranchOffices">
                            <i class="fa fa-plus"></i> &nbsp; Crear Sucursal
                        </button>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <div class="container">
                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ml-auto mr-auto text-center">
                        <div class="container">
                            <mat-table #Table [dataSource]="dataSource">
                                <ng-container matColumnDef="Id">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center">#</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center">{{row.branch_offices_id | slice:0:10}}</span> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Sucursal">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Sucursal
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.branch_offices_name}} </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Dirección">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Dirección
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.branch_offices_address| slice:0:10}} </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Link Ubicación">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Link Ubicación
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.branch_offices_link| slice:0:10}} </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Teléfono">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Teléfono
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.branch_offices_phone | slice:0:10"></div>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Latitud">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Latitud
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.branch_offices_lat | slice:0:10"></div>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Longitud">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Longitud
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.branch_offices_lng | slice:0:10"></div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Horario de atención">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Horario de atención
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.branch_offices_timetable"></div>
                                    </mat-cell>
                                </ng-container>




                                <ng-container matColumnDef="Editar">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Editar
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span class="material-icons text-warning cursor-pointer"
                                        (click)="editBranchOffice(row)" data-toggle="modal"
                                        data-target="#modalBranchOffices">
                                        mode_edit
                                    </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Eliminar">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="display-row-center">
                                        Eliminar </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span class="material-icons text-danger cursor-pointer" (click)="deleteBranchOffice(row)">
                                            delete_sweep
                                            </span>
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>

                            </mat-table>
                            <mat-paginator #TableProduct [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- *** Modal admin Product *** -->
<div class="modal fade" id="modalBranchOffices" tabindex="-1" role="dialog" aria-labelledby="modalproviderLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width: 80%;">
        <div class="modal-content">
            <div class="modal-header" *ngIf="branchOffice">
                <h5 class="modal-title" id="modalproviderLabel">
                    <i class="fa fa-plus"></i>
                    {{isEdit?'Editar Sucursal.':'Nueva Sucursal.'}} <i class="fa fa-arrow-right"></i> Cod.
                    {{branchOffice.branch_offices_id}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #formProduct="ngForm" action="" class="form-horizontal"
                (ngSubmit)='addBranchOffice(formProduct.value, formProduct.valid, formProduct)' novalidate action="/"
                method="get">
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <input type="hidden" class="form-control" name="branch_offices_id" id="branch_offices_id" placeholder="Id"
                                [(ngModel)]="branchOffice.branch_offices_id" #branch_offices_id="ngModel" pattern="">
                            <small [hidden]="branch_offices_id.valid || (branch_offices_id.pristine && !formProduct.submitted)"
                                class="text-danger">
                                Obligatorio
                            </small>

                            <div class="row ">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="branch_offices_name" id="branch_offices_name"
                                        placeholder="Nombre de la Sucursal" [(ngModel)]="branchOffice.branch_offices_name"
                                        #branch_offices_name="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_name.valid || (branch_offices_name.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="branch_offices_address" id="branch_offices_address"
                                        placeholder="Dirección de la Sucursal" [(ngModel)]="branchOffice.branch_offices_address"
                                        #branch_offices_address="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_address.valid || (branch_offices_address.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div>
                       
                            <div class="row ">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="branch_offices_link" id="branch_offices_link"
                                        placeholder="Link de Ubicación" [(ngModel)]="branchOffice.branch_offices_link"
                                        #branch_offices_link="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_link.valid || (branch_offices_link.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div>


                            <div class="row ">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="branch_offices_phone" id="branch_offices_phone"
                                        placeholder="Teléfono de la Sucursal" [(ngModel)]="branchOffice.branch_offices_phone"
                                        #branch_offices_phone="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_phone.valid || (branch_offices_phone.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="branch_offices_lat" id="branch_offices_lat"
                                        placeholder="Latitud de la Sucursal" [(ngModel)]="branchOffice.branch_offices_lat"
                                        #branch_offices_lat="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_lat.valid || (branch_offices_lat.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="branch_offices_lng" id="branch_offices_lng"
                                        placeholder="Longitud de la Sucursal" [(ngModel)]="branchOffice.branch_offices_lng"
                                        #branch_offices_lng="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_lng.valid || (branch_offices_lng.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                                
                            </div>
                            <div class="row ">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="branch_offices_timetable" id="branch_offices_timetable"
                                        placeholder="08:00 - 12:00 / 08:00 - 12:00" [(ngModel)]="branchOffice.branch_offices_timetable"
                                        #branch_offices_timetable="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_timetable.valid || (branch_offices_timetable.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                                
                            </div>
                            

                            <!-- <div class="row">
                                <div class="col-sm-12">
                                    <input name="branch_offices_phone" id="branch_offices_phone"  class="form-control"
                                        #branch_offices_phone="ngModel" placeholder="Teléfono"
                                        [(ngModel)]="branchOffice.branch_offices_phone">
                                </div>
                            </div> -->
                            <div class="row pt-3 justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <figure class="pt-5">
                                        <img class="img-post-modal" *ngIf="!branchOffice.branch_offices_img && !imageSrc"
                                            src="../../../../assets/img/descarga.png">
                                        <img class="img-post-modal" *ngIf="branchOffice.branch_offices_img && imageSrc "
                                            [src]="branchOffice.branch_offices_img">
                                        <img class="img-post-modal" *ngIf="branchOffice.branch_offices_img && !imageSrc"
                                            [src]="branchOffice.branch_offices_img">
                                        <img class="img-post-modal" *ngIf="!branchOffice.branch_offices_img && imageSrc"
                                            [src]="branchOffice.branch_offices_img">
                                    </figure>
                                    <input id=id type="file" class="form-control" name="branch_offices_img" accept="image/*"
                                        (change)="onChangeImage($event)" required>
                                    <input type="hidden" class="form-control" name="branch_offices_img" id="branch_offices_img"
                                        placeholder="Imagen de producto" [(ngModel)]="branchOffice.branch_offices_img"
                                        #branch_offices_img="ngModel" required pattern="">
                                    <small
                                        [hidden]="branch_offices_img.valid || (branch_offices_img.pristine && !formProduct.submitted)"
                                        class="text-danger">
                                        Obligatorio
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="!formProduct.valid" type="submit"
                        class="btn btn-fill btn-success btn-wd btn-block">
                        <i *ngIf="isEdit" class="fa fa-edit"></i>
                        <i *ngIf="!isEdit" class="fa fa-save"></i>
                        &nbsp;
                        &nbsp;{{isEdit?'Editar':'Crear'}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- *** /Modal admin Product *** -->