<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <div class="container">
                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ml-auto mr-auto text-center">
                        <div class="container">
                            <mat-table #Table [dataSource]="dataSource">
                                <ng-container matColumnDef="Id">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center">#</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center">{{row.user_uid | slice:8}}</span> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Nombre">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Nombre
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.user_name}} </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Apellido">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Apellido
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <span class="text-center"> {{row.user_lastname}} </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Correo">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Correo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.user_email "></div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Teléfono">
                                    <mat-header-cell *matHeaderCellDef class="display-row-center"> Teléfono
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="display-row-center">
                                        <!-- <span class="text-center"> {{row.product_description | slice:0:10}} </span> -->
                                        <div [innerHTML]="row.user_phone"></div>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>

                            </mat-table>
                            <mat-paginator #TableUsers [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
